.main {
  padding: 2rem 4rem;
  height: 100%;
  width: auto;
  overflow: hidden;
}
.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  &__item {
    flex: 1;
    min-width: 0;
  }
}
